# Моя друга лабка з Python

Створити обʼєктну модель організації.

В огранізації повинно бути 3 типи робітників Employee: Developer, Designer & Manager.
У кожного Employee повинні бути поля:
* Імʼя
* Призвіще
* базова заробітна плата
* досвід (у роках)

У Designer додатково повинен бути коефіцієнт ефективності - число від 0 до 1.
У Manager повинна бути команда (список) що складається з довільної кількості Developer та Designer.

In [3]:
class Employee():

    species = "employee"

    def __init__(self, name, surname, salary, experience):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.experience = experience

    ###############3##################
    def countedSalary(self):
        if self.experience > 5:
            return self.salary * 1.2 + 500
        elif self.experience > 2:
            return self.salary + 200
        else:
            return self.salary

class Developer(Employee):
    def __init__(self, name, surname, salary, experience, programming_language):
        super().__init__(name, surname, salary, experience)
        self.programming_language = programming_language

class Designer(Employee):
    def __init__(self, name, surname, salary, experience, efficiency):
        super().__init__(name, surname, salary, experience)
        self.efficiency = efficiency

    ###############3##################
    def countedSalary(self):
        salary = super().countedSalary()
        return salary * self.efficiency

class Manager(Employee):
    def __init__(self, name, surname, salary, experience, team=None):
        super().__init__(name, surname, salary, experience)
        if team is None:
            team = []
        self.team = team

    def add_to_team(self, employee):
        self.team.append(employee)

    def remove_from_team(self, employee):
        self.team.remove(employee)

    ###############3##################
    def countedSalary(self):
        salary = super().countedSalary()
        if len(self.team) > 10:
            salary += 300
        elif len(self.team) > 5:
            salary += 200

        developer_count = sum(1 for employee in self.team if isinstance(employee, Developer))

        if developer_count > len(self.team) / 2:
            salary *= 1.1

        return salary

In [4]:
developer = Developer("Oliver", "Davis", 1200, 4, "Python")
designer = Designer("Mia", "Jones", 1200, 3, 0.8)
manager = Manager("Lucas", "Clark", 1200, 2)

print("Oliver is {}".format(developer.__class__.species))
print("Mia is also {}".format(designer.__class__.species))


print("{} {} experience: {} years".format(developer.name, developer.surname, developer.experience))
print("{} {} experience is {} years and efficiency is {}".format(designer.name, designer.surname, designer.experience, designer.efficiency))
print("{} {} experience: {} years and salary is {}$".format(manager.name, manager.surname, manager.experience, manager.salary))

Oliver is employee
Mia is also employee
Oliver Davis experience: 4 years
Mia Jones experience is 3 years and efficiency is 0.8
Lucas Clark experience: 2 years and salary is 1200$

Створити обʼєкт Department, що містить список Manager (які в свою чергу містять команди).

Department повинен мати метод giveSalary() який повинен надрукувати зарплату ВСІХ Employee цієї організації в форматі "іʼмя призвіще отримав <число> шекєлей".

In [5]:
class Department:
    def __init__(self, managers=None):
        if managers is None:
            managers = []
        self.managers = managers

    def add_manager(self, manager):
        self.managers.append(manager)

    def give_salary(self):
        for manager in self.managers:
            for employee in manager.team:
                salary = employee.salary
                print(f"{employee.name} {employee.surname} отримав {salary} шекелів.")

In [6]:
department = Department()

developer1 = Developer("Sam", "Parker", 1000, 8, "Python")
developer2 = Developer("Robert", "Dingo", 2000, 3, "C++")
developer3 = Developer("Sam", "Pit", 1900, 4, "Java")
developer4 = Developer("Misi", "Stuert", 2600, 6, "php")

designer1 = Designer("Marry", "Shine", 3000, 7, 0.7)
designer2 = Designer("Dan", "Searcher", 2000, 3, 0.6)
designer3 = Designer("Kity", "Dance", 4000, 6, 0.9)
designer4 = Designer("Draik", "City", 2500, 4, 0.6)


manager1 = Manager("Fin", "Fillow", 3000, 4)
manager2 = Manager("Rick", "Chillovskiy", 3000, 5)

manager1.add_to_team(developer1)
manager1.add_to_team(designer1)
manager2.add_to_team(developer2)
manager2.add_to_team(developer3)
manager2.add_to_team(developer4)
manager2.add_to_team(designer2)
manager2.add_to_team(designer3)
manager2.add_to_team(designer4)

department.add_manager(manager1)
department.add_manager(manager2)

department.give_salary()

Sam Parker отримав 1000 шекелів.
Marry Shine отримав 3000 шекелів.
Robert Dingo отримав 2000 шекелів.
Sam Pit отримав 1900 шекелів.
Misi Stuert отримав 2600 шекелів.
Dan Searcher отримав 2000 шекелів.
Kity Dance отримав 4000 шекелів.
Draik City отримав 2500 шекелів.

Зарплата countedSalary для кожного Employee обраховується з поля base salary (базова заробітна плата) плюс якщо його досвід роботи більше 2 років, він отримує baseSalary + 200, але якщо його досвід більше 5 років - він отримує baseSalary * 1.2 + 500.

-- Додатково, на зп Designer впливає коефіцієнт ефективності countedSalary * effCoeff.

-- Додатково, зп Manager розраховується з countedSalary плюс:
* якщо в його команді більше 5 людей - countedSalary + 200, але якщо в його команді більше 10 людей то countedSalary + 300.
* Додатково, якщо в його команді більше половини Developer - його зп збільшується ще на 10%.

In [9]:
print(f"{developer1.name} {developer1.surname} отримав {developer1.countedSalary()} шекелів.")
print(f"{designer1.name} {designer1.surname} отримав {designer1.countedSalary()} шекелів.")
print(f"{manager1.name} {manager1.surname} отримав {manager1.countedSalary()} шекелів.")
print(f"{manager2.name} {manager2.surname} отримав {manager2.countedSalary()} шекелів.")

Sam Parker отримав 1700.0 шекелів.
Marry Shine отримав 2870.0 шекелів.
Fin Fillow отримав 3200 шекелів.
Rick Chillovskiy отримав 3400 шекелів.